*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

.trans{
  transition: 0.3s;
}

.product{
  width: 700px;
  position: relative;
  margin: 0 auto;

  .ozon-logo{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    width: 130px;
  }

  .bg{
    width: 100%;
  }

  &-title{
    position: absolute;
    left: 61px;
    top: 640px;
    font-size: 33px;
    color: #fff;
    width: 587px;
    text-align: left;
    margin-bottom: 30px;
    font-weight: 700;
  }

  &-body{
    position: absolute;
    right: 70px;
    top: 800px;
    width: 235px;
  }
  &-prices{
    width: 100%;
    height: 80px;
    border-radius: 25px;
    background: #005BFF;
    //box-shadow: 8px 10px 0 0 #FFF;
    position: relative;
    &.fon{
      margin-bottom: -88px;
      background: #fff;
      position: relative;
      right: -10px;
    }
  }
  &-price{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 37px;
    color: #fff;
    width: 240px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    transform: translate(-50%, -50%);
  }
  &-sale-price{
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: #fff;
    font-size: 14px;
    text-align: right;
    text-decoration: line-through;
    opacity: 0.7;
  }

  &-product{
    position: absolute;
    left: 60px;
    top: 40px;
    width: 580px;
    max-height: 580px;
    height: auto;
    border-radius: 18px;
    object-fit: cover;
    object-position: top;
  }

  &-code{
    color: #fff;
    font-size: 40px;
    text-align: left;
    margin-top: 50px;
    line-height: 28px;
    opacity: 0.9;
    position: absolute;
    left: 60px;
    top: 890px;
    font-weight: 700;
  }
  &-location{
    position: absolute;
    top: 910px;
    left: 48px;
    height: 70px;
    width: 608px;
    background: #fff;
    text-align: center;
    color: #e53e97;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 4px;
    font-weight: 500;
  }
}

#save-image{
  position: fixed;
  top: 20px;
  right: 20px;
}